{{template "header" .}}
<div class="py-12 flex justify-center">
  <div class="px-8 py-8 bg-white rounded shadow">
    <h1 class="pt-4 pb-8 text-center text-3xl font-bold text-gray-800">
      Create Account!
    </h1>
    <form action="/users" method="POST">
      <div class="hidden">{{csrfField}}</div>
      <div class="py-2">
        <label for="email" class="text-small font-semibold"
          >Email Address</label
        >
        <input
          name="email"
          id="email"
          type="email"
          placeholder="Email Address"
          required
          autocomplete="email"
          class="w-full px-3 py-2 border-gray-300 placeholder-gray-600 text-gray-800 rounded border"
          value="{{.Email}}"
          {{if
          not
          .Email}}autofocus{{end}}
        />
      </div>
      <div class="py-2">
        <label for="password" class="text-small font-semibold">Password</label>
        <input
          name="password"
          id="password"
          type="password"
          placeholder="Password"
          required
          class="w-full px-3 py-2 border-gray-300 placeholder-gray-600 text-gray-800 rounded border"
          {{if
          .Email}}autofocus{{end}}
        />
      </div>
      <div class="py-4">
        <button
          type="submit"
          class="w-full py-4 px-2 bg-indigo-600 hover:bg-indigo-700 text-white rounded font-bold text-lg"
        >
          Sign Up
        </button>
      </div>
      <div class="py-2 w-full flex justify-between">
        <p class="text-xs text-gray-500">
          <a href="/signin" class="underline">Already have an account?</a>
        </p>
        <p class="text-xs text-gray-500">
          <a href="forgot-pw" class="underline">Forgot your password?</a>
        </p>
      </div>
    </form>
  </div>
</div>
{{template "footer" .}}
