{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-h-screen bg-gray-100">
    <header class="bg-gradient-to-r from-blue-400 to-indigo-400">
      <nav class="px-8 py-3 flex items-center">
        <div class="flex-grow">
          <a class="pr-8 text-md font-semibold hover:text-gray-200" href="/"
            >Home</a
          >
          <a
            class="pr-8 text-md font-semibold hover:text-gray-200"
            href="/about"
            >About</a
          >
          <a
            class="pr-8 text-md font-semibold hover:text-gray-200"
            href="/contact"
            >Contact</a
          >
        </div>
        <div>
          <form action="/signout" method="POST" class="inline pr-4">
            <div class="hidden">{{csrfField}}</div>
            <button type="submit">Sign Out</button>
          </form>
          <a
            class="pr-4 text-md font-semibold hover:text-gray-200"
            href="/signin"
            >Sign In</a
          >
          <a class="text-md font-semibold hover:text-gray-200" href="/signup"
            >Sign Up</a
          >
        </div>
      </nav>
    </header>
    {{end}}
    <!-- Each page's content goes here. -->
    {{define "footer"}}
  </body>
</html>
{{end}}
